body 	{
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 75%;
	line-height: 1.5;
	color: #333;
	background: #f1f1f1;
	line-height: 1.5;
}

p, ul, ol	{
	margin-bottom: 18px;
}

.wrapper	{
	background: #fff;
	width: 60em;
	margin: 3em auto;
	padding: 20px 10px;
	clear: both;
	display: block;
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

fieldset, legend, label, input, select, textarea	{
	padding: 5px 6px;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

fieldset	{
	border: none;
	margin-bottom: 18px;
}

fieldset legend	{
	font-weight: bold;
}

label	{
	font-weight: bold;
	border: none;
}

label, a, button, input[type=button], input[type=submit]	{
	cursor: pointer;
}

a, a:link	{
	color: #288CC8;
}

a:hover,
a:focus,
a:active	{
	color: #c30;
}

.clear, .clearfix	{
	clear: both !important;
	display: block;
}

.bttn 	{
	background: -webkit-linear-gradient(top, #eee, #ddd);
	background: -moz-linear-gradient(top, #eee, #ddd);
	background: linear-gradient(top, #eee, #ddd);
	text-shadow: 0 1px 1px #fff;
}

.results	{
	border-top: 1px solid #ccc;
	padding: 10px 0;
	margin-top: 18px;
}

.brand	{
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px dotted #999;
}

.brand > div 	{
	display: table;
}

.brand-title 	{
	text-decoration: underline;
	color: #999;
}

.brand-categories	{
	display: inline-block !important;
	margin-right: 5px;
	text-decoration: underline;
	font-size: 10px;
}

.brand-episode-title	{
	margin-bottom: 18px;
	font-weight: bold;
}

.brand-synopsis	{
	margin-bottom: 18px;
	clear: both;
}

.brand-until-time	{
	font-weight: bold;
}

img.thumbnail	{
	float: left;
	vertical-align: text-top;
	margin: 0 10px 10px 0;
	border: 2px solid #fff;
	padding: 4px;
	box-shadow: 0 0 3px #666;
}

.error	{
	display: block;
	color: #c30;
	margin: 18px 0;
	padding: 10px 0;
}

.pagination	{
	clear: both;
	display: block;
	margin: 10px 0;
}

.nav-item	{
	display: inline-block;
	margin: 0 1px;
	font-size: 14px;
	text-decoration: none;
	padding: 0 5px;
}

.current-page-nav-item	{
	color: #333 !important;
	background: #eee;
}

.advance-search	{
	display: none;
	clear: both;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #ccc;
}

.advance-search fieldset	{
	display: inline-block;
	vertical-align: top;
}

.advance-search:target	{
	display: block;
}